.logo {
    color: white;
    margin-bottom: -9px;
    display: flex;
    justify-content: center;
    position: relative;
}

em {
    font-family: serif;
    font-style: normal;
    font-weight: bold;
    color: gold;
}

em.rotate_dot {
    -webkit-animation: myOrbit 6s linear infinite;
    -moz-animation: myOrbit 6s linear infinite;
    -o-animation: myOrbit 6s linear infinite;
    animation: myOrbit 6s linear infinite;
}

@-webkit-keyframes myOrbit {
    0% {
        -webkit-transform: rotate(0deg) translateX(0px) translateY(5px) translateZ(5px) rotate(0deg) scale(1);
    }
    25% {
        -webkit-transform: rotate(90deg) translateX(40px) translateY(5px) translateZ(5px) rotate(-90deg) scale(1.75);
    }
    50% {
        -webkit-transform: rotate(180deg) translateX(120px) translateY(5px) translateZ(5px) rotate(-180deg) scale(.60);
    }
    75% {
        -webkit-transform: rotate(270deg) translateX(0px) translateY(5px) translateZ(5px) rotate(-270deg) scale(1.75);
    }
    100% {
        -webkit-transform: rotate(360deg) translateX(0px) translateY(5px) translateZ(5px) rotate(-360deg) scale(1);
    }
}

@-moz-keyframes myOrbit {
    0% {
        -moz-transform: rotate(0deg) translateX(0px) translateY(5px) translateZ(5px) rotate(0deg) scale(1);
    }
    25% {
        -moz-transform: rotate(90deg) translateX(40px) translateY(5px) translateZ(5px) rotate(-90deg) scale(1.75);
    }
    50% {
        -moz-transform: rotate(180deg) translateX(120px) translateY(5px) translateZ(5px) rotate(-180deg) scale(.60);
    }
    75% {
        -moz-transform: rotate(270deg) translateX(0px) translateY(5px) translateZ(5px) rotate(-270deg) scale(1.75);
    }
    100% {
        -moz-transform: rotate(360deg) translateX(0px) translateY(5px) translateZ(5px) rotate(-360deg) scale(1);
    }
}

@-o-keyframes myOrbit {
    0% {
        -o-transform: rotate(0deg) translateX(0px) translateY(5px) translateZ(5px) rotate(0deg) scale(1);
    }
    25% {
        -o-transform: rotate(90deg) translateX(40px) translateY(5px) translateZ(5px) rotate(-90deg) scale(1.75);
    }
    50% {
        -o-transform: rotate(180deg) translateX(120px) translateY(5px) translateZ(5px) rotate(-180deg) scale(.60);
    }
    75% {
        -o-transform: rotate(270deg) translateX(0px) translateY(5px) translateZ(5px) rotate(-270deg) scale(1.75);
    }
    100% {
        -o-transform: rotate(360deg) translateX(0px) translateY(5px) translateZ(5px) rotate(-360deg) scale(1);
    }
}

@keyframes myOrbit {
    0% {
        transform: rotate(0deg) translateX(0px) translateY(5px) translateZ(5px) rotate(0deg) scale(1);
    }
    25% {
        transform: rotate(90deg) translateX(40px) translateY(5px) translateZ(5px) rotate(-90deg) scale(1.75);
    }
    50% {
        transform: rotate(180deg) translateX(120px) translateY(5px) translateZ(5px) rotate(-180deg) scale(.60);
    }
    75% {
        transform: rotate(270deg) translateX(0px) translateY(5px) translateZ(5px) rotate(-270deg) scale(1.75);
    }
    100% {
        transform: rotate(360deg) translateX(0px) translateY(5px) translateZ(5px) rotate(-360deg) scale(1);
    }
}

h1,
h2,
h3 {
    margin: 0px;
}