
.logo {
  color: white;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  position: relative;
}

em {
  font-family: Josefin Sans,sans-serif;
  font-size: 4vmin;
  font-style: normal;
  font-weight: 700;
  width: 3vmin;
  text-align: center;
}

em.planet {
  -webkit-animation: planet-rotate 2s linear infinite;
  animation: planet-rotate 2s linear infinite;
  position: relative;
}

em.planet.left {
  -webkit-transform-origin: 5vmin 2vmin;
  transform-origin: 5vmin 2vmin;
}

em.planet.right {
  -webkit-transform-origin: -1.5vmin 2vmin;
  transform-origin: -1.5vmin 2vmin;
}

@-webkit-keyframes planet-rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes planet-rotate {
  to {
    transform: rotate(1turn);
  }
}
