<style>

</style>
<!--<div class="custom_container rotate">

    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <h1 class="logo" id="rotate_logo">
      <em>A</em>
      <em class="planet left">d</em>
      <em>m</em>
      <em class="planet right">i</em>
      <em>n</em>
    </h1>

</div>-->
<!---7vmin 1vmin-->
<div class=" rotate">

    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <h1 class="logo" id="rotate_logo">
        <em class="planet left">.</em>
        <em>ADMIN</em>
        <em class="planet right">.</em>
    </h1>
    <em>PANEL</em>

</div>