.html_class {
    background: white;
}

.admin_container {
    background: whitesmoke;
    height: 100%;
}

.admin_header {
    height: 100%;
    padding: 0px;
}

.admin_container {
    h1 {
        color: white;
    }
}

.design_two {
    background: repeating-linear-gradient( -55deg, #222, #222 10px, #333 10px, #333 20px)
}

.design_four {
    color: white;
    background: repeating-linear-gradient( to right, #f6ba52, #f6ba52 10px, #ffd180 10px, #ffd180 20px);
}

.design_one {
    background: repeating-linear-gradient( 45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 10px, rgba(0, 0, 0, 0.3) 10px, rgba(0, 0, 0, 0.3) 20px)
}